@import url('https://fonts.googleapis.com/css?family=Pacifico');
*{box-sizing: border-box;}

html,body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    background: #EEF1F8;
    font-family: sans-serif;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card
{
    width: 280px;
    height: 400px;
    background: #fff;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 5px 10px rgba(224, 231, 245, 0.9);
    
}

.card .top-section
{
    background: #ACC0E9;
    height: 100px;
    border-radius: 4px 4px 0 0;
}

.facebook
{
    position: absolute;
    transform: translate(10px,10px);
}

.facebook a
{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.add-btn
{
    position: absolute;
    height: 24px;
    width: 24px;
    background: #9980DF;
    right: -8px;
    top: -12px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(172, 192, 233, 0.5);
    cursor: pointer;
}

.avatar
{
    position: absolute;
    top:60px;
    left:50%;
    transform: translateX(-50%);
    
   
    
}

img
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 2px 10px rgba(143, 165, 217, 0.9);
}

.card .bottom-section
{
    text-align: center;
    padding: 40px 30px 15px;
   
}

.card .bottom-section h5
{
    margin:10px 0 20px 0;
    color: #7E7E7E;
    font-size: 1.1em;
    font-family: "Pacifico";
}

.card .bottom-section p
{
    font-size: 12px;
    color: #B0B0B0;
}

.social-media
{
    margin-top: 48px;
}
.social-media a
{
    text-decoration: none;
    margin: 0 8px;
    color: #B0B0B0;
    
}
